<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">A PEN'S DOMAIN</h1>
    <p class="lead">Welcome back! Sign in to continue your Reading, or create an account to unlock endless offers!</p>
    <hr>
    <a class="btn btn-light btn-lg register-btn" href="/register" role="button">Register</a>
    <a class="btn btn-success btn-lg login-btn" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
