<%- include('partials/header.ejs') %>



<section id="swup" class="transition-main">
    <div class="home-content">
        <div class="content-box">
            <div class="text-content">
                <!-- <h1>A Pen's Domain</h1> -->
                 <img src="images/logo1.png" alt="">
                <p>Welcome to the domain where pens rule. We make stories, which may give the taste of beyond. If you're brave enough click the button to enter our domain.</p>
            </div>
            <div class="image-content">
                <img src="images/logo2.png" alt="logo">
            </div>
        </div>
        <a href="/books" class="my-btn" id="rippleButton">Let's Get Started</a>
    </div>


</section>




<%- include('partials/footer.ejs') %>